* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf4ff;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.app__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1000px;
  margin-left: 230px;
}

.title {
  margin-bottom: 30px;
}

@media screen and (max-width:650px) {
  .app__container {
    flex-direction: column;
    justify-content: center;
    margin: 0px 13px;
    max-width: 800px;
  }
}

@media screen and (max-width:400px) {
  .app__container {
    width: 500px;
  }
}